{%extends "practicewindow.html"%}
{%block content%}
  <h1>Login to use view Analytics</h1>
  <h2>Manager Login</h2>
  <form action="" method="POST">
    <label>Username:</label><input type="text" value="" name="user" required/>
    <br/>
    <label>Password:</label><input type="password" value="" name="password" required/>
    <br/>
    <input type="submit" value="Login" />
    <br/>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    <br/>
    <br/>
  </form>
{%endblock%}
